{% extends 'base.html' %}

{% block title %}Js Stats{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-10">
    <h2 style="color:white;text-align:center;">Body parts trained (times)</h2>
    </div>
    <div class="col-2">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            This month
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{% url 'all-time-stats' %}">All time</a>
              <a class="dropdown-item" href="{% url 'this-week-stats' %}">This week</a>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="container">
    <canvas id="myChart"></canvas>
</div>

<nav class="navbar fixed-bottom navbar-light">
    <ul class="nav justify-content-center">
        <li class="nav-item">
        <a href="../"><input type="button" class="btn btn-lg btn-success" value="Back"
        style="background-color: #FF1493;border-color: #000;"></a>
        </li>
    </ul>
</nav>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
let ctx = document.getElementById('myChart').getContext('2d');

let labels = [];
{% for label in labels %}
labels.push('{{ label }}');
{% endfor %}

let data = [];
{% for item in data %}
data.push({{ item }});
{% endfor %}

let myPieChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: labels,
        datasets: [{
            label: 'Body parts trained (times)',
            backgroundColor: ['rgb(0, 0, 255)', 'rgb(255,127,80)', 'rgb(0, 255, 0)',
                'rgb(255, 0, 0)', 'rgb(255,0,255)'],
            borderColor: 'rgb(0, 0, 0)',
            data: data,
        }]
    },
    options: {}
});
</script>
{% endblock %}