html, body {
  height: 100%;
  color: #fff;
}

.nav-accounts .navbar-brand {
  color: lightpink;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.nav-accounts input {
  margin: 5px;
  border-radius: 2rem;
}

.nav-accounts button {
  margin: 5px;
  border-radius: 2rem;
  letter-spacing: .1rem;
  transition: all 0.2s;
}

.form-accounts {
  color: #fff;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-accounts input {
  height: auto;
  border-radius: 2rem;
}

.form-accounts button {
  font-size: 90%;
  border-radius: 2rem;
  letter-spacing: .1rem;
  transition: all 0.2s;
}

.form-accounts h2 {
  margin: 15px;
}

.form-accounts a {
  font-weight: bold;
}

.form-accounts p {
  padding: 15px;
}

main {
  margin-top: 10%;
}
