body {
  color: #fff;
}

.nav-accounts .navbar-brand {
  color: lightpink;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.nav-accounts input {
  margin: 5px;
  border-radius: 2rem;
}

.nav-accounts button {
  margin: 5px;
  border-radius: 2rem;
  letter-spacing: .1rem;
  transition: all 0.2s;
}
