body, html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
}

.form-account {
  color: #fff;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-account input {
  height: auto;
  border-radius: 2rem;
}

.form-account button {
  font-size: 90%;
  border-radius: 2rem;
  letter-spacing: .1rem;
  transition: all 0.2s;
}

.form-account a {
  font-weight: bold;
}

.form-account p {
  padding: 15px;
}
