{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block title %} Home {% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}">
{% endblock %}

{% block content %}
  <nav class="navbar nav-accounts">
    <a class="navbar-brand" href="{% url 'index' %}">defytheflow</a>
    <form class="form-inline" action="{% url 'signin' %}" method="POST">
      {% csrf_token %}
      {% bootstrap_form signin_form show_label=False %}
      <button class="btn btn-success" type="submit">LOG IN</button>
    </form>
  </nav>
{% endblock %}
