{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block title %} Sign up {% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center h-100">
      <div class="col-sm-4 my-auto">

        <form action="{% url 'sign-up' %}" method="post">{% csrf_token %}
          {% for field in form %}
            {% bootstrap_field field show_label=False show_help=False %}
          {% endfor %}

          <div class="text-center">
            {% bootstrap_button "Sign up" button_type="submit" button_class="btn-success" %}
          </div>
        </form>

        <div class="text-center">
          <p>Have an account? <a href="{% url 'sign-in' %}"><b>Sign in</b></a></p>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
