{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block title %} Sign up • defytheschool {% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
{% endblock %}

{% block content %}
  <div class="container text-center">
    <form class="form-account" action="{% url 'signup' %}" method="POST">
      {% csrf_token %}

      {% bootstrap_form_errors form type=non_field %}
      {% bootstrap_form form show_label=False show_help=False %}
      <button class="btn btn-block btn-success" type="submit">SIGN UP</button>

      <p>Have an account? <a href="{% url 'login' %}">Log in</a></p>
    </form>
  </div>
{% endblock %}
