{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block title %} Sign up • defytheschool {% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
{% endblock %}

{% block content %}
  <div class="container text-center">
    <form class="form-account" action="{% url 'sign-up' %}" method="post">
      {% csrf_token %}

      {% for field in form %}
        {% bootstrap_field field show_label=False show_help=False %}
      {% endfor %}

      <button class="btn btn-block btn-success text-uppercase" type="submit">
        Sign up</button>

      <hr class="my-4">

      <p>Have an account? <a href="{% url 'sign-in' %}"><b>Sign in</b></a></p>
    </form>
  </div>
{% endblock %}
