{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block title %} Sign in • defytheschool {% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
{% endblock %}

{% block content %}
  <div class="container text-center">
    <form class="form-account" action="{% url 'sign-in' %}" method="post">
      {% csrf_token %}

      {% bootstrap_form_errors form %}
      {% for field in form %}
        {% bootstrap_field field show_label=False %}
      {% endfor %}

      <button class="btn btn-block btn-success text-uppercase" type="submit">
        Sign in</button>

      <hr class="my-4">

      <p>Don't have an account? <a href="{% url 'sign-up' %}"><b>Sign up</b></a></p>
    </form>
  </div>
{% endblock %}
