{% load static %}
{% load bootstrap4 %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% bootstrap_messages %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block css %} {% endblock %}
    <!-- <link rel="shortcut icon" href="{% static 'img/logo.jpeg' %}"> -->
  </head>
  <body>
    {% block content %} {% endblock %}
    {% block js %} {% endblock %}
  </body>
</html>
