{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block title %} Sign Out {% endblock title %}

{% block header %}
{{ super() }}
{% endblock header %}

{% block home %}
{{ super() }}
{% endblock home %}

{% block login %}
{{ super() }}
{% endblock login %}

{% block body %}

<div class="container">
  <div class="jumbotron" style="margin-left:17%;margin-right:17%;background-color:#333333;color:white;">
    <div class="alert alert-success" style="text-align: center;">
        <strong>Bye! :)</strong> See you next time @{{ login }}!
    </div>
  </div>
</div>

{% endblock body %}