{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block title %} Sign Up {% endblock title %}

{% block header %}
{{ super() }}
{% endblock header %}



{% block login %}
{{ super() }}
{% endblock login %}

{% block body %}

<div class="container">
  <div class="jumbotron" style="margin-left:17%;margin-right:17%;background-color:#333333;color:white;">
    <h2 style="text-align:center;">Sign Up</h2>
    <br>
      <form method="post" action="/sign_up.html">
        <div class="form-group" style="">
          <label>First name:</label>
          <input type="text" class="form-control input-lg" name="first_name">
        </div>
        <div class="form-group" style="">
          <label>Last name:</label>
          <input type="text" class="form-control input-lg" name="last_name">
        </div>
        <div class="form-group" style="">
          <label>Login:</label>
          <input type="text" class="form-control input-lg" name="login">
        </div>
        <div class="form-group" style="">
          <label>Password:</label>
          <input type="password" class="form-control input-lg" name="password">
        </div>
        <div class="form-group" style="">
          <label>Password again:</label>
          <input type="password" class="form-control input-lg" name="password_repeat">
        </div>
        <br>

        <div class="form-group" style="">
          <input type="submit" class="form-control input-lg">
        </div>

      </form>
  </div>
</div>

{% endblock body %}
