{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block title %} @{{ login }} {% endblock title %}

{% block header %}
{{ super() }}
{% endblock header %}

{% block home %}
<li><a href="logged_in_landing.html"> Home </a></li>
<li><a href="library_app.html">Library</a></li>
<li><a href="dictionary_app.html">Dictionary</a></li>
{% endblock home %}

{% block login %}
  <ul class="nav navbar-nav navbar-right">
    <li><a href="user_profile.html"> @{{ login }} </a></li>
    <li><a href="settings.html"> Settings </a></li>
    <li><a href="sign_out.html"><span class="glyphicon glyphicon-log-out"></span> Log out </a></li>
  </ul>
{% endblock login %}

{% block body %}

<div class="container">
  <div class="jumbotron" style="background-color:#333333;color:white;">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo" style="margin-left:33%;width:33%;font-size:20px;">
        @{{login}}</button>

    <div id="demo" class="collapse">
      <br>
      <br>
      <table class="table table-hover " style="width:55%;margin-left:22%;">
        <tbody>
          <tr>
              <td><strong>First name:</strong></td>
              <td>{{ first_name }}</td>
          </tr>
          <tr>
              <td><strong>Last name:</strong></td>
              <td>{{ last_name }}</td>
          </tr>
          <tr>
              <td><strong>Login:</strong></td>
              <td>{{ login }}</td>
          </tr>
          <tr>
              <td><strong>Password:</strong></td>
              <td>{{ password }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock body %}
