<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="nav-link" href="{% url 'index' %}">Home</a>
  <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ request.user.first_name }} {{ request.user.last_name }}
  </a>
  <div class="dropdown-menu" aria-labelledby="navbar-dropdown-menu">
    <a class="dropdown-item" href="{% url 'profile' request.user.username %}">My profile</a>
    <a class="dropdown-item" href="{% url 'settings' %}">Settings</a>
    <a class="dropdown-item" href="{% url 'signout' %}">Log out</a>
  </div>
    </div>
</nav>
